<div class="nested-fields">
  <%= f.hidden_field :_destroy %>

  <div class="col-md-12">
    <%= f.text_field :title, placeholder: 'Título da questão', class: 'form-control' %>
  </div>

  <%= f.fields_for :alternatives do |alternative_form| %> 
    <%= render "correct_alternative_fields", f: alternative_form %>
  <% end %>

  <% 3.times { -%>
    <%= f.fields_for :alternatives do |alternative_form| %> 
      <%= render "incorrect_alternative_fields", f: alternative_form %>
    <% end %>
  <% } %>

  <div>
    <%= link_to "Remover questão", '#', class: "remove_fields" %>
  </div>
  <hr/>
</div>
