<div style="margin-bottom: 50px">
  <h3>Crie agora um novo quiz!</h3>
  <%= link_to "Criar", new_quiz_path, class: "btn btn-primary"%>
</div>

<% if @quizzes.any? %>
  <div class="container" style="width: 600px">
    <table class="table index-table">
      <tr>
        <th>Quizzes</th>
        <th>Código de acesso</th>
        <th>Resultados</th>
      </tr>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td><%= quiz.title %></td>
          <td><%= quiz.code %></td>
          <td><%= link_to "Ver resultados", :controller => "matches", :quiz => quiz.id %></td>
          <td><%= link_to 'Deletar', quiz_path(quiz), :method => :delete, data: { confirm: "Tem certeza que quer deletar o quiz?" } %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
