<div style="margin-bottom: 50px">
  <h3>Crie agora um novo quiz!</h3>
  <%= link_to "Criar", new_quiz_path, class: "btn btn-primary"%>
</div>

<% if @quizzes.any? %>
  <h4>Seus quizzes...</h4>
  <div class="container" style="width: 600px">
    <% @quizzes.each do |quiz| %>
      <table class="table index-table">
        <td><%= quiz.id %></td>
        <td><%= quiz.title %></td>
        <td><%= quiz.code %></td>
        <td><%= link_to "Show", quiz %></td>
        <td><%= link_to "Ver resultados", :controller => "matches", :quiz => quiz.id %></td>
      </table>
    <% end %>
  </div>
<% end %>
