<h3>Criação de Novo Quiz</h3>

<%= form_with(model: @quiz) do |form| %>
  <div class="container quiz-container">
    <%= @quiz.errors.full_messages.first if @quiz.errors.any? %>
    <%= form.text_field :title, placeholder: 'Título do quiz', class:'form-control' %>

    <% 5.times { -%>
      <%= render "questions/question", form: form %>
    <% } %>

    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to 'Voltar', quizzes_path, :class => 'btn btn-primary' %>
