<%= form_with(model: @quiz) do |f| %>
  <div class="container quiz-container">
    <%= @quiz.errors.full_messages.first if @quiz.errors.any? %>

    <h4>Qual o título do seu novo quiz?</h4>
    <%= f.text_field :title, placeholder: 'Título do quiz', class:'form-control' %>

    <br/>
    <h4>Agora, adicione as questões...</h4>

    <fieldset>
      <%= f.fields_for :questions do |question_form| %>
        <%= render "question_fields", f: question_form %>
      <% end %>

      <%= link_to_add_fields "Adicionar questão", f, :questions %>
    </fieldset>

    <br/>
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to 'Voltar', quizzes_path, :class => 'btn btn-primary' %>
