<h1>Quizzes#show</h1>
<p>Find me in app/views/quizzes/show.html.erb</p>

<td><%= @quiz.user_id %></td>
<td><%= @quiz.title %></td>
<td><%= @quiz.code %></td>
<td><%= @quiz.questions %></td>

<%= link_to 'Back', quizzes_path %>
