<%= form_for @user do |f| %>
  <% if @user.errors.any? %> 
    <div class="hint-card">
      <b> Houve um problema no cadastro: </b>
      <br> • Verifique se o e-mail é válido
      <br> • Verifique se sua senha contém 6 ou mais caracteres
      <br> • Verifique se a senha e a confirmação correspondem
    </div>
  <% end %>

  <div class="container signup-container">
    <h4>Cadastre-se!</h4>
    <%= f.text_field :name, placeholder: 'Seu nome', class:'form-control' %>
    <%= f.email_field :email, placeholder: 'Seu e-mail', class:'form-control' %>
    <%= f.password_field :password, placeholder: 'Sua senha', class:'form-control' %>
    <%= f.password_field :password_confirmation, placeholder: 'Confirme sua senha', class:'form-control' %>
  <div>

  <br>
  <%= f.submit "Cadastrar", class: 'btn btn-primary'%>
<% end %>
