<%= form_for @user do |f| %>
  <% if @user.errors.any? %> 
    <div class="hint-card">
      <b> Houve um problema no cadastro: </b>
      <br> • Verifique se o e-mail é válido
      <br> • Verifique se sua senha contém 6 ou mais caracteres
      <br> • Verifique se a senha e a confirmação correspondem
    </div>
  <% end %>

  <div class="nav">
    <h1>Faça o seu cadastro</h1>
  </div>
  <div class="container signup-container">

    <h4>Insira os dados requeridos</h4>

    <%= f.text_field :name, placeholder: 'Seu nome', class:'form-control' %>
    <%= f.label :name, 'Escreva seu nome' %>
    <%= f.email_field :email, placeholder: 'Seu e-mail', class:'form-control' %>
    <%= f.label :email, 'Escreva seu email' %>
    <%= f.password_field :password, placeholder: 'Sua senha', class:'form-control' %>
    <%= f.label :password, 'Escreva sua senha' %>
    <%= f.password_field :password_field, placeholder: 'Confirme sua senha', class:'form-control' %>
    <%= f.label :password_field, 'Confirme sua senha' %>

    <div>

  <br>
  <%= f.submit "Cadastrar", class: 'btn btn-primary'%>
<% end %>
