<h2 style="margin-bottom: 50px">Relatórios sobre o quiz "<%= @quiz_title %>" </h2>
<h4> ID de usuario: <%= @current_user.name %></h4>
<h3>Clique no link abaixo caso deseje ver os resultados gerais do Quiz</h3>
<p style="font-size: 20px"><%= link_to "Dados gerais", match_path(@id) %></p>
<h3>Abaixo estão listados os jogadores que possuem relatórios disponíveis</h3>
<% @arr.each do |player| %>
  <p style="font-size: 20px"><%= player['name'] %> - <%= link_to "Ver resultados", player_data_path(match_id: @id, player_id: player['id']) %></p>
<% end %>