<%= link_to "Voltar à página de relatórios", :controller => "matches", :quiz => @id %>
<h2 style="margin-bottom: 50px">Relatórios sobre o quiz "<%= @quiz_title %>" </h2>

<% if @matches.try(:any?) %>
  <div id="personal-general-data">
    <span style="font-size: 30px">Dados gerais</span>
    <div id="data-body">
      <div class="data-right">
        <span> Partidas jogadas: <b><%= @general_data['total_matches'] %></b></span>
        <span> Total de questões respondidas: <b><%= @general_data['total_answers'] %></b></span>
        <span> <b><%= @general_data['answered_percentual'] %>%</b> de questões respondidas</span>
        <%= pie_chart @questions_graph_data, height: "200px", dataset: {borderWidth: 1} %>
      </div>
      <div class="data-right">
        <span> Total de respostas corretas: <b><%= @general_data['correct_answers'] %></b></span>
        <span> Total de respostas erradas: <b><%= @general_data['wrong_answers'] %></b></span>
        <span> <b><%= @general_data['correct_percentual'] %>%</b> de acertos</span>
        <%= pie_chart @general_graph_data, height: "200px", dataset: {borderWidth: 1} %>
      </div>
    </div>
  </div>
  <% @questions.each do |question| %>
    <div class="question-card">
      <h4 style="color: #000000"><%= question['title'] %></h4>
      <span>Total de respostas = <%= question['total_answers'] %></span>
      <span>Acertos = <%= question['correct'] %></span>
      <span>Tempo médio de resposta = <%= question['average_time'] %> segundos</span>
      <% if question['most_wrong_answer'] != nil %>
        <span>Alternativa com o maior número de erros = <%= question['most_wrong_answer'] %></span>
      <% end %>
    </div>
  <% end %>

<% else %>
  <h3>Sem dados no momento</h3>
<% end %>
